
/* ROOT */
:root{
    /* --header-bg-color: #fff; */
    /* --main-bg-color: #fff; */
    /* --main-text-color: #fff; */
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* MOVIES STYLES */
.loader-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 111, 0.8);
    z-index: 50;
}

.loader{
    position: static;
    z-index: 100;
    width: 200px;
    height: 200px;
}

.movies-item{
    min-height: 400px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rating-icon::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/star.svg");
    background-position: center;
    background-size: 20px;
    margin-right: 10px;
    display: inline-block;
}

.year-icon::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/calendar-clock.svg");
    background-position: center;
    background-size: 20px;
    margin-right: 10px;
    display: inline-block;
}

.runtime-icon::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/time-fast.svg");
    background-position: center;
    background-size: 20px;
    margin-right: 10px;
    display: inline-block;
}